@import 'tailwindcss';

@config "./../../tailwind.config.ts";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border-color);
  }
}

@layer base {
    :root {
        --display-text-color: var(--color-gray-950);
        --body-text-color: var(--color-gray-700);
        --caption-text-color: var(--color-gray-500);
        --placeholder-text-color: var(--color-gray-400);
        --ui-border-color: var(--color-gray-200);

        --dv-primary: var(--color-primary-600);
        --dv-secondary: var(--color-secondary-600);
        --dv-accent: var(--color-accent-600);
        --dv-gray: var(--color-gray-600);
        --dv-info: var(--color-info-600);
        --dv-danger: var(--color-danger-600);
        --dv-success: var(--color-success-600);
        --dv-warning: var(--color-warning-600);
        --dv-neutral: var(--color-gray-950);

        --input-radius: var(--btn-radius);
    }
    .dark {
        --display-text-color: var(--color-white);
        --body-text-color: var(--color-gray-300);
        --placeholder-text-color: var(--color-gray-600);
        --feedback-shadow-opacity: '1';
        --ui-border-color: --theme(--color-gray-800 / 0.75);
    }

    [data-shade='glassy'] {
        @apply dark:[--ui-border-color:var(--color-gray-700)];
    }
    [data-shade='800'] {
        @apply dark:[--ui-border-color:var(--color-gray-700)];
    }
    [data-shade='900'],
    [data-shade='950'],
    [data-shade='925'] {
        @apply dark:[--ui-border-color:var(--color-gray-800)];
    }

    [data-tls-shade='glassy'] {
        @apply dark:backdrop-blur-2xl dark:[--ui-bg:var(--color-gray-700)]/[75] dark:[--ui-border-color:var(--color-gray-700)];
    }

    [data-tls-shade='800'] {
        @apply dark:backdrop-blur-2xl dark:[--ui-bg:var(--color-gray-800)] dark:[--ui-border-color:var(--color-gray-700)];
    }

    [data-tls-shade='900'] {
        @apply dark:backdrop-blur-2xl dark:[--ui-bg:var(--color-gray-900)] dark:[--ui-border-color:var(--color-gray-800)];
    }

    [data-tls-shade='925'] {
        @apply dark:backdrop-blur-2xl dark:[--ui-bg:var(--color-gray-925)] dark:[--ui-border-color:var(--color-gray-800)];
    }

    [data-tls-shade='950'] {
        @apply dark:backdrop-blur-2xl dark:[--ui-bg:var(--color-gray-950)] dark:[--ui-border-color:var(--color-gray-800)];
    }

    [data-palette='tls'] {
        --colors-primary-50: var(--colors-indigo-50);
        --colors-primary-100: var(--colors-indigo-100);
        --colors-primary-200: var(--colors-indigo-200);
        --colors-primary-300: var(--colors-indigo-300);
        --colors-primary-400: var(--colors-indigo-400);
        --colors-primary-500: var(--colors-indigo-500);
        --colors-primary-600: var(--colors-indigo-600);
        --colors-primary-700: var(--colors-indigo-700);
        --colors-primary-800: var(--colors-indigo-800);
        --colors-primary-900: var(--colors-indigo-900);
        --colors-primary-950: var(--colors-indigo-950);

        --colors-secondary-50: var(--colors-cyan-50);
        --colors-secondary-100: var(--colors-cyan-100);
        --colors-secondary-200: var(--colors-cyan-200);
        --colors-secondary-300: var(--colors-cyan-300);
        --colors-secondary-400: var(--colors-cyan-400);
        --colors-secondary-500: var(--colors-cyan-500);
        --colors-secondary-600: var(--colors-cyan-600);
        --colors-secondary-700: var(--colors-cyan-700);
        --colors-secondary-800: var(--colors-cyan-800);
        --colors-secondary-900: var(--colors-cyan-900);
        --colors-secondary-950: var(--colors-cyan-950);

        --colors-accent-50: var(--colors-pink-50);
        --colors-accent-100: var(--colors-pink-100);
        --colors-accent-200: var(--colors-pink-200);
        --colors-accent-300: var(--colors-pink-300);
        --colors-accent-400: var(--colors-pink-400);
        --colors-accent-500: var(--colors-pink-500);
        --colors-accent-600: var(--colors-pink-600);
        --colors-accent-700: var(--colors-pink-700);
        --colors-accent-800: var(--colors-pink-800);
        --colors-accent-900: var(--colors-pink-900);
        --colors-accent-950: var(--colors-pink-950);

        --colors-gray-50: var(--colors-zinc-50);
        --colors-gray-100: var(--colors-zinc-100);
        --colors-gray-200: var(--colors-zinc-200);
        --colors-gray-300: var(--colors-zinc-300);
        --colors-gray-400: var(--colors-zinc-400);
        --colors-gray-500: var(--colors-zinc-500);
        --colors-gray-600: var(--colors-zinc-600);
        --colors-gray-700: var(--colors-zinc-700);
        --colors-gray-800: var(--colors-zinc-800);
        --colors-gray-900: var(--colors-zinc-900);
        --colors-gray-925: var(--colors-zinc-925);
        --colors-gray-950: var(--colors-zinc-950);
    }
}
